{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chat Application</title>
<link rel="stylesheet" type="text/css" href="{% static 'base.css'%}">
</head>
<body>
  <div class="navbar">
    <h1>Chat App</h1>
  </div>
  <div class="user-actions">
    <a href="login">Login</a>
    <a href="signup">Signup</a>
  </div>
  <div class="box-container">
      <h1>Welcome To Chat App</h1>
      <h2>login or signup TO</h2>
      <h3>Chat, connect, and stay in touch with friends and family effortlessly.</h3>
  </div>

</body>
</html>

